body{
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loading span{
    display: inline-block;
    width: 50px; height: 50px;
    background-color: gray;
    border-radius: 100%;
    animation: loading 1s linear infinite;
    /* 만들어둔 loading을 불러오고, 1초마다, 부드럽게, 무한으로 */
}
.loading span:nth-child(1) {
    animation-delay: 0s;
    background-color: palegoldenrod;
}
.loading span:nth-child(2) {
    animation-delay: 0.2s;
    background-color: plum;
}
.loading span:nth-child(3) {
    animation-delay: 0.4s;
    background-color: palevioletred;
}

@keyframes loading {  /* 커졌다 작아졌다 하는 애니메이션 */
    0%, 100%{
        opacity: 0;
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
}